/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-neutral-900: #02012C;
  --color-neutral-800: #262540;
  --color-neutral-700: #302F4A;
  --color-neutral-600: #3C3B5E;
  --color-neutral-300: #ACACB7;
  --color-neutral-200: #D4D3D9;
  --color-neutral-0: #FFFFFF;

  --color-orange-500: #FF820A;
  --color-blue-700: #2B1B9C;
  --color-blue-500: #4658D9;

  --radius-12: 0.75rem;

  --app-spacing: 0.5rem;  /* 8px */
  --spacing-2: calc(var(--app-spacing) * 0.25);
  --spacing-4: calc(var(--app-spacing) * 0.5);
  --spacing-6: calc(var(--app-spacing) * 0.75);
  --spacing-8: var(--app-spacing);
  --spacing-10: calc(var(--app-spacing) * 1.25);
  --spacing-12: calc(var(--app-spacing) * 1.5);
  --spacing-16: calc(var(--app-spacing) * 2);
  --spacing-20: calc(var(--app-spacing) * 2.5);
  --spacing-24: calc(var(--app-spacing) * 3);
  --spacing-32: calc(var(--app-spacing) * 4);
  --spacing-40: calc(var(--app-spacing) * 5);
  --spacing-48: calc(var(--app-spacing) * 6);
  --spacing-64: calc(var(--app-spacing) * 8);
  --spacing-80: calc(var(--app-spacing) * 10);
  --spacing-96: calc(var(--app-spacing) * 12);
  --spacing-112: calc(var(--app-spacing) * 14);
  --spacing-128: calc(var(--app-spacing) * 16);
  --spacing-140: calc(var(--app-spacing) * 18);

  @media (max-width: 1920px) {
    --app-spacing: 0.25rem;
  }
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-neutral-900);

  --color-border: var(--color-neutral-600);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--color-neutral-0);

  --color-primary: var(--color-neutral-700);
  --color-secondary: var(--color-neutral-800);
  --color-secondary-hover: var(--color-neutral-700);
  --color-accent: var(--color-blue-500);
  --color-accent-hover: var(--color-blue-700);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'DM Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--text-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
